html{
   
    background: #da2128;
    background-image: -webkit-linear-gradient(top, #da2128, #ffffff);
    background-image: -moz-linear-gradient(top, #da2128, #ffffff);
    background-image: -ms-linear-gradient(top, #da2128, #ffffff);
    background-image: -o-linear-gradient(top, #da2128, #ffffff);
    background-image: linear-gradient(to bottom, #da2128, #ffffff);
    height: 100%;
}
h1{
    font-family: 'Barlow';
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 954px;
    border: 0.01px solid black;
    border-radius: 5px;
    background: #ffe400;

}
button{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    font-size: 50px;
    border-radius: 12px;
    background: #20eb15;
    background-image: -webkit-linear-gradient(top, #20eb15, #4CAF50);
    background-image: -moz-linear-gradient(top, #20eb15, #4CAF50);
    background-image: -ms-linear-gradient(top, #20eb15, #4CAF50);
    background-image: -o-linear-gradient(top, #20eb15, #4CAF50);
    background-image: linear-gradient(to bottom, #20eb15, #4CAF50);
    width: 285px;
    height: 90px;
    
}
button:hover {
  background: #4CAF50;
  background-image: -webkit-linear-gradient(top, #4CAF50, #20eb15);
  background-image: -moz-linear-gradient(top, #4CAF50, #20eb15);
  background-image: -ms-linear-gradient(top, #4CAF50, #20eb15);
  background-image: -o-linear-gradient(top, #4CAF50, #20eb15);
  background-image: linear-gradient(to bottom, #4CAF50, #20eb15);
  text-decoration: none;
}
#Button{
    text-align: center;
   padding-top: 30px;
    padding-bottom: 30px;
}
#Description{
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background: white;
    
    
}
footer {
    text-align: center;
}
